{% extends 'base.html' %}

{% block content %}
    <div class="text-center mt-10">
        <h1 class="text-4xl font-bold mb-4">Welcome to Intsight SAT Practice Platform</h1>
        <p class="text-lg mb-6">แพลตฟอร์มสำหรับฝึกทำโจทย์ Digital SAT และ Full Practice Test ในรูปแบบเสมือนสอบจริงบน Bluebook</p>
        {% if session.username %}
            <a href="{{ url_for('select_test') }}" class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700">Select Practice Test</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700 mr-4">Login</a>
            <!-- <a href="{{ url_for('register') }}" class="bg-green-600 text-white px-6 py-3 rounded hover:bg-green-700">Register</a> -->
             <a href="{{ url_for('request_account') }}" class="bg-green-600 text-white px-6 py-3 rounded hover:bg-green-700">Request Account</a>
        {% endif %}
    </div>
{% endblock %}