{% extends 'base.html' %}

{% block content %}
    <div class="text-center mt-10">
        <h1 class="text-4xl font-bold mb-4">Please our Line Account to Request an Account.</h1>
        <h1 class="text-4xl font-bold mb-4">กรุณาแอดไลน์ของสถาบันเพื่อสร้างบัญชีผู้ใช้</h1>
        <!-- <p class="text-lg mb-6">แพลตฟอร์มสำหรับฝึกทำโจทย์ Digital SAT และ Full Practice Test ในรูปแบบเสมือนสอบจริงบน Bluebook</p> -->
        <!-- <a href="https://page.line.me/679ggmqa" target="_blank" class="bg-green-600 text-white px-6 py-3 rounded hover:bg-green-700">Add Line Account</a> -->
         <br>
         <div class="flex flex-col items-center gap-4 my-6">
            <a href="https://lin.ee/IwAn4ii" class="text-4xl font-bold mx-auto"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png" alt="เพิ่มเพื่อน" height="36" border="0"></a>
         </div>
         
    </div>
{% endblock %}